<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->


<configuration>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TrgovinaConnectionString" connectionString="Data Source=SIMON-PC;Initial Catalog=Trgovina;User ID=sa;Password=micro2soft;" providerName="System.Data.SqlClient"/>-->
    <add name="TrgovinaConnectionString" connectionString="Data Source=58beef2f-3de9-48f5-80ce-a40601334388.sqlserver.sequelizer.com;Initial Catalog=db58beef2f3de948f580cea40601334388;User ID=zkajzsmgpbnsadcb;Password=BsimyuNuH6qhwDBjXgTCcSviidt5Xe22sUJ2Un4HSNU8BwZhGw42wLbR68cvbRED;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="smtpServer" value="smtp.telemach.net" />
    <add key="emailPosiljatelja" value="simon.gotlib@gmail.com" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>